### OECD DATA SCRAPING

In [1]:
# OECD Data Scraping
# pip install sdmx
# import pandasdmx as sdmx
# sdmx.list_sources()

In [2]:
# Go to OECD Web
#   >>> Find data
#   >>> Go to Export
#   >>> SDMX (XML)
#   >>> Get SDMX DATA URL
#   >>> Make resource_id & key
#   >>> Run the Script
# SDMX DATA URL: https://stats.oecd.org/restsdmx/sdmx.ashx/GetData/HIGH_AGLINK_2010/WLD+O29+NME+DVD+DVG+LDC+CAN+USA+AUS+NZL+MEX+KOR+JPN+TUR+CHL+E27+RUS+UKR+DZA+EGY+SSA+ZAF+ARG+BRA+URY+BGD+CHN+IND+IDN+IRN+MYS+PAK+SAU.WT+CG+RI+OS+PM+VL+BV+PK+PT+SH+BT+CH+SMP+WMP+MK+WYP+CA+SU+SUR+SUW+ET+BD.QP+IM+QC+ST+EX+NT+AH+CI+CR+FE+FO+OU+YLD+XP+PP+MP+IMP+PC/all?startTime=2000&endTime=2019

In [3]:
import pandas as pd
import numpy as np
import pandasdmx as sdmx

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

c:\Users\engin\AppData\Local\Programs\Python\Python39\lib\site-packages\requests\__init__.py:102: RequestsDependencyWarning: urllib3 (1.26.9) or chardet (5.0.0)/charset_normalizer (2.0.12) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({})/charset_normalizer ({}) doesn't match a supported "

In [4]:
# import pandasdmx as pdmx
# # Tell pdmx we want OECD data
# oecd = pdmx.Request("OECD")
# # Set out everything about the request in the format specified by the OECD API
# data_resource_id="HIGH_AGLINK_2010"
# data_key="all"
# data = oecd.data(resource_id=data_resource_id, key=data_key)
# data = data.to_pandas()
# df = pd.DataFrame(data).reset_index()
# df.head()

In [5]:
# df.to_csv("oecd_agr_data.csv")

In [6]:
df = pd.read_csv("oecd_agr_data.csv")
df.drop("Unnamed: 0", axis=1, inplace=True)

In [7]:
df_abbr = pd.read_csv("oecd_data.csv")

In [8]:
df.insert(1, "Country", df.iloc[:,0])
df.insert(3, "Commodity", df.iloc[:,2])
df.insert(5, "Variable", df.iloc[:,4])

In [9]:
print(df.shape)
print(df_abbr.shape)

(112364, 8)
(112364, 11)

In [10]:
df.head(1)

  COUNTRY Country COMMODITY Commodity VARIABLE Variable  TIME_PERIOD  value
0     ARG     ARG        BD        BD       NT       NT         2004    0.0

In [11]:
df_abbr.head(1)

,COUNTRY,Country,COMMODITY,Commodity,VARIABLE,Variable,TIME,Time,Value,Flag Codes,Flags
0,WLD,World,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",2000,2000,585762.084553,NaN,NaN

In [12]:
drop_list = ["DVD", "DVG", "E27", "LDC", "NME", "O29", "WLD"]
for i in drop_list:
    df.drop(df[df["COUNTRY"]==i].index, inplace=True)

In [13]:
df.reset_index()

,index,COUNTRY,Country,COMMODITY,Commodity,VARIABLE,Variable,TIME_PERIOD,value
0,0,ARG,ARG,BD,BD,NT,NT,2004,0.000000
1,1,ARG,ARG,BD,BD,NT,NT,2005,0.000000
2,2,ARG,ARG,BD,BD,NT,NT,2006,0.000000
3,3,ARG,ARG,BD,BD,NT,NT,2007,459.090909
4,4,ARG,ARG,BD,BD,NT,NT,2008,1400.000000
...,...,...,...,...,...,...,...,...,...
91824,112359,ZAF,ZAF,WT,WT,YLD,YLD,2015,2.973232
91825,112360,ZAF,ZAF,WT,WT,YLD,YLD,2016,2.991035
91826,112361,ZAF,ZAF,WT,WT,YLD,YLD,2017,3.004720
91827,112362,ZAF,ZAF,WT,WT,YLD,YLD,2018,3.018791
91828,112363,ZAF,ZAF,WT,WT,YLD,YLD,2019,3.033136

In [14]:
df_abbr.reset_index()

,index,COUNTRY,Country,COMMODITY,Commodity,VARIABLE,Variable,TIME,Time,Value,Flag Codes,Flags
0,0,WLD,World,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",2000,2000,585762.084553,NaN,NaN
1,1,WLD,World,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",2001,2001,588641.567355,NaN,NaN
2,2,WLD,World,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",2002,2002,572888.150326,NaN,NaN
3,3,WLD,World,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",2003,2003,560015.010840,NaN,NaN
4,4,WLD,World,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",2004,2004,631106.170060,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
112359,112359,SAU,Saudi Arabia,SUW,White sugar,IMP,Import price,2015,2015,1697.895260,NaN,NaN
112360,112360,SAU,Saudi Arabia,SUW,White sugar,IMP,Import price,2016,2016,1648.712335,NaN,NaN
112361,112361,SAU,Saudi Arabia,SUW,White sugar,IMP,Import price,2017,2017,1837.492582,NaN,NaN
112362,112362,SAU,Saudi Arabia,SUW,White sugar,IMP,Import price,2018,2018,1985.490285,NaN,NaN
112363,112363,SAU,Saudi Arabia,SUW,White sugar,IMP,Import price,2019,2019,2201.187026,NaN,NaN

In [58]:
df.COUNTRY.unique()

array(['ARG', 'AUS', 'BGD', 'BRA', 'CAN', 'CHL', 'CHN', 'DZA', 'EGY',
       'IDN', 'IND', 'IRN', 'JPN', 'KOR', 'MEX', 'MYS', 'NZL', 'PAK',
       'RUS', 'SAU', 'SSA', 'TUR', 'UKR', 'URY', 'USA', 'ZAF'],
      dtype=object)

In [59]:
df_abbr.COUNTRY.unique()

array(['WLD', 'O29', 'NME', 'DVD', 'DVG', 'LDC', 'CAN', 'USA', 'AUS',
       'NZL', 'MEX', 'KOR', 'JPN', 'TUR', 'E27', 'RUS', 'UKR', 'DZA',
       'EGY', 'SSA', 'ZAF', 'ARG', 'BRA', 'CHL', 'URY', 'BGD', 'CHN',
       'IND', 'IDN', 'IRN', 'MYS', 'PAK', 'SAU'], dtype=object)

In [60]:
drop_list = list(set(df_abbr.COUNTRY.unique()) - set(df.COUNTRY.unique()))

In [61]:
for i in drop_list:
    df_abbr.drop(df_abbr[df_abbr["COUNTRY"]==i].index, inplace=True)

In [62]:
print(df.shape)
print(df_abbr.shape)

(91829, 8)
(91829, 11)

In [63]:
df.head(1)

  COUNTRY Country COMMODITY Commodity VARIABLE Variable  TIME_PERIOD  value
0     ARG     ARG        BD        BD       NT       NT         2004    0.0

In [64]:
df_abbr.head(1)

,COUNTRY,Country,COMMODITY,Commodity,VARIABLE,Variable,TIME,Time,Value,Flag Codes,Flags
1439,CAN,Canada,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",2000,2000,26535.5,NaN,NaN

In [66]:
df.loc[0,"Variable"]

'NT'

In [ ]:
for i in df_abbr.Variable:
    df_abbr.Variable[i]

In [38]:
df_abbr.Variable.unique()[0].split(",")[0]

'Production'

In [34]:
a = [s.strip() for s in list(df_abbr.Variable.unique())]
a

['Production, kt (for Biofuels in millions of liters)',
 'Imports, kt (for Biofuels in millions of liters)',
 'Consumption, kt (for Biofuels in millions of liters)',
 'Ending stocks, kt (for Biofuels in millions of liters)',
 'Exports, kt (for Biofuels in millions of liters)',
 'Trade balance, kt (for Biofuels in millions of liters)',
 'Area harvested, 000 ha',
 'Feed, kt',
 'Food, kt',
 'Other use, kt (for Biofuels in millions of liters)',
 'Yield',
 'Weighted average or Producer price',
 'Consumption per capita',
 'Import price',
 'Specific market or product price',
 'Crush, kt',
 'Cow inventory, 000 hd',
 'World Price']

In [813]:
abr_list = df.Country.unique()
abr_list = list(abr_list)

In [814]:
df_abbr[df_abbr["COUNTRY"] == "CAN"].iloc[0,1]

'Canada'

In [ ]:
BURADA KALDIMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM

In [777]:
for i in df.Country:
    df.Country.replace(i, df_abbr[df_abbr["COUNTRY"] == i].iloc[0,1])

KeyboardInterrupt:

In [776]:
df.Country.unique()

array(['ARG', 'AUS', 'BGD', 'BRA', 'CAN', 'CHL', 'CHN', 'DZA', 'EGY',
       'IDN', 'IND', 'IRN', 'JPN', 'KOR', 'MEX', 'MYS', 'NZL', 'PAK',
       'RUS', 'SAU', 'SSA', 'TUR', 'UKR', 'URY', 'USA', 'ZAF'],
      dtype=object)

In [681]:
cntry_list = df_abbr.Country.unique()
cntry_list.sort()
cntry_list

array(['Algeria', 'Argentina', 'Australia', 'Bangladesh', 'Brazil',
       'Canada', 'Chile', 'China', 'Egypt', 'India', 'Indonesia', 'Iran',
       'Japan', 'Korea', 'Malaysia', 'Mexico', 'New Zealand', 'Pakistan',
       'Republic of South Africa', 'Russia', 'Saudi Arabia',
       'Sub Saharan Africa', 'Türkiye', 'Ukraine', 'United States',
       'Uruguay'], dtype=object)

In [ ]:
df.Country.replace(['ARG','AUS','BGD','BRA','CAN','CHL','CHN','DZA','EGY','IDN','IND','IRN','JPN','KOR','MEX','MYS','NZL','PAK','RUS', 'SAU', 'SSA', 'TUR', 'UKR', 'URY', 'USA', 'ZAF'],
                   [Argentina,Australia,Bangladesh,Brazil,Canada],
                   inplace=True)

In [ ]:
for i in range(len(df)):
    df.iloc[i,1] = df_abbr[df_abbr["COUNTRY"] == df.iloc[i,1]].iloc[0,1]

In [ ]:
stu.MI_Cat.replace(["Ling_Int","Math_Int","Spa_Int","Mus_Int","Nat_Int","Body_Int","Interp_Int","Intrap_Int"],
                    ["Ling","Math","Spa","Mus","Nat","Body","Interp","Intrap"], inplace=True)

In [ ]:
for i in df["Country"]:
    df.country[i] = df_abbr[df_abbr["COUNTRY"] == df.iloc[i,1]].iloc[0,1]

In [328]:
df.tail(1)

       COUNTRY Country COMMODITY  ... Variable TIME_PERIOD     value
112363     ZAF     ZAF        WT  ...      YLD        2019  3.033136

[1 rows x 8 columns]

In [327]:
len(df)

112364

In [95]:
for i in list_country:
    df.country[i].replace(i, df_cntr[df_cntr["iso"]==i].iloc[0,1], inplace=True)

KeyError: 'DVD'

In [63]:
a = df_cntr[df_cntr["iso"]=="ABW"].iloc[0,1]
a

'Aruba'